body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 2em;
    text-align: center;
    display: flex;
    align-items: center;
}

.back-button {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.back-button img {
    width: 100%;
    height: auto;
}

h1 {
    flex-grow: 1;
    margin: 0;
}

.container {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 20px;
}

.user-image img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}

.user-info {
    text-align: center;
    margin-top: 20px;
}

.ver-detalhes-btn {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

hr {
    width: 100%;
    margin: 10px auto;
}